@import '../../config';

.fp-button {
  // background: #FFF;
  // color: $primcol;


  &.md-btn {
    border-radius: 10px;
    box-shadow: none;
    text-transform: none;

    font-weight: 600;
    height: 39px;
    text-align: center;
    line-height: 22px;
    padding-left: 2rem;
    padding-right: 2rem;
    width: auto;
    flex: 0 0 auto;

    font-family: $font-family;
    font-size: 15px;
    &--raised {
      background: #FFF;
      color: $primcol;
      border-radius: 10px;
      box-shadow: none;
      &:hover {
        background: darken(#FFF, 7.5%);
      }
    }
  }
  &.md-background {
    &--primary {
      background: $primcol;
      color: #FFF;
      &:hover {
        background: lighten($primcol, 7.5%);
      }
      // &.md-btn--pri
    }
  }
}
